name: build
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
        with:
          path: go/src/github.com/g0194776/lightningmonkey

      - name: Print Debugging Parameters
        run: |
          pwd
          echo ${HOME}
          echo ${GITHUB_WORKSPACE}
          echo ${GOPATH}
          echo ${GOROOT}
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Execute Mock Tests
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          go install -v github.com/golang/mock/mockgen
          go generate ./...
          go test -v ./test
          go test -coverprofile=coverage.xml -coverpkg=./... -covermode=atomic ./test
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Uploading Coverage File
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{secrets.CODECOV_TOKEN}} #required
          file: ./coverage.xml #optional
          flags: unittests #optional
          name: lightning-monkey #optional

      - name: Try Building Agent
        run: |
          cd cmd/agent && go build -o lm-agent . && mv lm-agent ../../lm-agent
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Try Building API Server
        run: |
          cd cmd/apiserver && go build -o lm-apiserver . && mv lm-apiserver ../../lm-apiserver
        env:
          GOPATH: /home/runner/work/lightning-monkey/go
