name: release
on:
  push:
    tags:
      - '**'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
        with:
          path: go/src/github.com/g0194776/lightningmonkey

      - name: Print Debugging Parameters
        run: |
          pwd
          echo ${HOME}
          echo ${GITHUB_WORKSPACE}
          echo ${GOPATH}
          echo ${GOROOT}
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Execute Mock Tests
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          go install -v github.com/golang/mock/mockgen
          go generate ./...
          go test -v ./test
          go test -coverprofile=coverage.xml -coverpkg=./... -covermode=atomic ./test
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Uploading Coverage File
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{secrets.CODECOV_TOKEN}} #required
          file: ./coverage.xml #optional
          flags: unittests #optional
          name: lightning-monkey #optional

      - name: Try Building Agent
        run: |
          cd cmd/agent && go build -o lm-agent . && mv lm-agent ../../lm-agent
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Try Building API Server
        run: |
          cd cmd/apiserver && go build -o lm-apiserver . && mv lm-apiserver ../../lm-apiserver
        env:
          GOPATH: /home/runner/work/lightning-monkey/go

      - name: Publish agent to docker registry (docker.io)
        uses: jerray/publish-docker-action@master
        with:
          repository: g0194776/lightning-monkey-agent
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          auto_tag: true
          file: Dockerfile.agent
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish agent to docker registry (docker.io -> latest)
        uses: jerray/publish-docker-action@master
        with:
          repository: g0194776/lightning-monkey-agent
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: latest
          file: Dockerfile.agent
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish agent to docker registry (aliyun)
        uses: jerray/publish-docker-action@master
        with:
          registry: registry.cn-beijing.aliyuncs.com
          repository: lightning-monkey/agent
          username: ${{ secrets.ALICLOUD_DOCKER_USERNAME }}
          password: ${{ secrets.ALICLOUD_DOCKER_PASSWORD }}
          auto_tag: true
          file: Dockerfile.agent
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish agent to docker registry (aliyun -> latest)
        uses: jerray/publish-docker-action@master
        with:
          registry: registry.cn-beijing.aliyuncs.com
          repository: lightning-monkey/agent
          username: ${{ secrets.ALICLOUD_DOCKER_USERNAME }}
          password: ${{ secrets.ALICLOUD_DOCKER_PASSWORD }}
          tags: latest
          file: Dockerfile.agent
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish apiserver to docker registry (docker.io)
        uses: jerray/publish-docker-action@master
        with:
          repository: g0194776/lightning-monkey-apiserver
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          auto_tag: true
          file: Dockerfile.apiserver
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish apiserver to docker registry (docker.io -> latest)
        uses: jerray/publish-docker-action@master
        with:
          repository: g0194776/lightning-monkey-apiserver
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: latest
          file: Dockerfile.apiserver
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish apiserver to docker registry (aliyun)
        uses: jerray/publish-docker-action@master
        with:
          registry: registry.cn-beijing.aliyuncs.com
          repository: lightning-monkey/apiserver
          username: ${{ secrets.ALICLOUD_DOCKER_USERNAME }}
          password: ${{ secrets.ALICLOUD_DOCKER_PASSWORD }}
          auto_tag: true
          file: Dockerfile.apiserver
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9

      - name: Publish apiserver to docker registry (aliyun -> latest)
        uses: jerray/publish-docker-action@master
        with:
          registry: registry.cn-beijing.aliyuncs.com
          repository: lightning-monkey/apiserver
          username: ${{ secrets.ALICLOUD_DOCKER_USERNAME }}
          password: ${{ secrets.ALICLOUD_DOCKER_PASSWORD }}
          tags: latest
          file: Dockerfile.apiserver
          build_args: K8S_VERSION_V1_12=1.12.10,K8S_VERSION_V1_13=1.13.12,K8S_VERSION_V1_14=1.14.10,K8S_VERSION_V1_15=1.15.9
